:root {
    --bg-dark: #0a0a0a;
    --neon-green: #ccff00;
    --text-white: #ffffff;
    --font-heading: 'Teko', sans-serif;
}

body {
    background-color: var(--bg-dark);
    color: var(--text-white);
    margin: 0;
    font-family: var(--font-heading);
    overflow-x: hidden; /* tidak bisa scroll samping */
}

.map-container {
    padding-top: 120px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.map-header {
    text-align: center;
    margin-bottom: 30px;
}

.map-header h1 {
    font-size: 4rem;
    line-height: 1;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.map-header h1 span {
    color: var(--neon-green);
    text-shadow: 0 0 15px rgba(204, 255, 0, 0.4);
}

.map-header p {
    font-family: sans-serif;
    color: #888;
    margin-top: 5px;
    font-size: 1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.map-wrapper {
    position: relative;
    width: 90%;
    max-width: 1200px;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
    border: 2px solid #333;
    overflow: hidden;
}

.map-image {
    width: 100%;
    height: auto;      /* tinggi menyusuaikan */
    display: block;    /* disable celah gambar */
}


@media (max-width: 768px) {
    .map-header h1 {
        font-size: 2.5rem;
    }

    .map-wrapper {
        width: 95%;
    }
}
